body	{	background: url('../images/profano.jpg') no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover; } 
.column, .columns   { padding: 15px; background: #30381a; border-radius: 15px; opacity:0.8; }    
.container .one-half.column   { background: #FFF8DC;  } 


